{% from "macros.html" import show_flashed_messages %}

{% extends "layout.html" %}
{% block content %}

<div id="content">

 {{ show_flashed_messages() }}


  <div class="alert alert-info" role="alert">
    <p>
     Make sure your server is running and has the get5 server plugins installed first.
     See <a href="https://github.com/splewis/get5/wiki/Step-by-step-installation-guide">the get5 wiki</a> for help installing the get5 and get5_apistats plugins.
    </p>
  </div>

  <form role="form" action="" method="post" class="form-horizontal">

      {{ form.csrf_token }}

      <div class="form-group">
      {{ form.display_name.label(class="col-sm-2 control-label") }}
        <div class="col-sm-7">
          {{ form.display_name(class="form-control", placeholder="Optional") }}
        </div>
      </div>

      <div class="form-group">
      {{ form.ip_string.label(class="col-sm-2 control-label") }}
        <div class="col-sm-7">
          {{ form.ip_string(class="form-control", placeholder="Server IP") }}
        </div>
      </div>

      <div class="form-group">
      {{ form.port.label(class="col-sm-2 control-label") }}
        <div class="col-sm-7">
          {{ form.port(class="form-control", placeholder="27015") }}
        </div>
      </div>

      <div class="form-group">
      {{ form.rcon_password.label(class="col-sm-2 control-label") }}
        <div class="col-sm-7">
          {{ form.rcon_password(class="form-control", placeholder="RCON password") }}
          <p class="help-block">Your server information will not be exposed to other users.</p>
        </div>
      </div>

      {% if is_admin %}
      <div class="form-group">
        {{ form.public_server.label(class="col-sm-2 control-label") }}
        <div class="col-sm-offset-1">
          {{ form.public_server() }}
        </div>
      </div>
      {% endif %}

      {% if edit %}
      <div class="input submit col-sm-offset-1">
        <input type="submit" class="btn btn-primary" value="Update Server">
      </div>
      {% else %}
      <div class="input submit col-sm-offset-1">
        <input type="submit" class="btn btn-primary" value="Create Server">
      </div>
      {% endif %}

      <br>

  </form>


</div>

<script>
  $(document).ready(function () {
  $("#server_create").parent().addClass("active"); })
</script>

{% endblock %}
