{% extends "layout.html" %}
{% block content %}

<div id="content">

  <div class="container">
    <h1>
    {{ team.get_flag_html(1.0) }} {{ team.name }} {{ team.get_logo_html(1.0) }}
    </h1>

    <br>

    <div class="panel panel-default">
      <div class="panel-heading">Players</div>
      <div class="panel-body">
          {% for auth,name in team.get_players() %}
          <a href="http://steamcommunity.com/profiles/{{auth}}" class="col-sm-offset-0"> {{auth}}</a>
          {% if name %}
          {{name}}
          {% endif %}
          <br>
          {% endfor %}
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">Recent Matches</div>
        <div class="panel-body">
          {% for match in team.get_recent_matches() %}
            <a href="/match/{{match.id}}">#{{match.id}}</a>: {{ team.get_vs_match_result(match.id) }}
            <br>
          {% endfor %}
      </div>
    </div>

  </div>
  <br>

</div>

{% endblock %}
