{% from "macros.html" import pagination_buttons, pagination_active %}

{% extends "layout.html" %}
{% block content %}

<div id="content">

  <h1>
  {% if my_teams %}
  Your teams
  {% else %}
  Teams for <a href="/user/{{ owner.id }}"> {{ owner.name }}</a>
  {% endif%}
  </h1>

  <ul class="list-group">

    {% if (teams.items | length) == 0 %}
    <li class="list-group-item">
    No teams found.
    </li>
    {% endif %}

    {% for team in teams.items %}
    <li class="list-group-item">

      {{ team.get_flag_html(0.75) }}

      <a href="{{ team.get_url() }}" class="col-sm-offset-1"> {{team.name}}</a>

      {{ team.get_logo_html(0.75) }}

      {% if team.can_delete(user) %}
      <div class="pull-right">
        <a href="/team/{{team.id}}/delete" class="btn btn-danger btn-xs">Delete</a>
      </div>
      {% endif %}

      {% if team.can_edit(user) %}
      <div class="pull-right">
        <a href="/team/{{team.id}}/edit" class="btn btn-primary btn-xs">Edit</a>
      </div>
      {% endif %}

    </li>
    {% endfor %}
  </ul>

  {{ pagination_buttons(teams) }}

</div>

{{ pagination_active(teams) }}

{% if my_teams %}
<script>
    $(document).ready(function () {
    $("#myteams").parent().addClass("active"); })
</script>
{% endif %}

{% endblock %}
