{% extends "layout.html" %}
{% block content %}

<div id="content">

  <div class="panel panel-default">
    <div class="panel-heading">User information</div>
    <div class="panel-body">
      Name: {{displaying_user.name}}<br>
      Steam account: <a href="{{displaying_user.get_steam_url() }}"> {{displaying_user.steam_id}} </a> <br>
      Teams saved: <a href="/teams/{{displaying_user.id}}"> {{ displaying_user.teams.count() }} </a> <br>
      Matches created: <a href="/matches/{{displaying_user.id}}"> {{ displaying_user.matches.count() }} </a> <br>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Recent Matches</div>
    <div class="panel-body">
      {% for match in displaying_user.get_recent_matches() %}
        <a href="/match/{{match.id}}">#{{match.id}}</a>: {{ match.get_status_string() }}
        <br>
      {% endfor %}
    </div>
  </div>

</div>

{% endblock %}
